<div class="space-x-4 p-4 max-w-screen-lg mx-auto">
  <div
        class="bg-white rounded-lg overflow-hidden
        shadow-lg lg:w-full hover:bg-gray-200 cursor-pointer
        md:w-auto md:inline-block sm:w-auto sm:inline-block"
        [ngClass]="{'bg-gray-200':character.selected}">
    <div class="lg:flex lg:flex-row items-center justify-between p-4 md:flex md:flex-col md:items-center sm:items-center sm:flex sm:flex-col">

      <img loading="lazy" class="image object-cover" [src]="character.image" alt="{{ character.name }}">
      <h2 class="text-xl font-semibold text-gray-800">{{ character.name }}</h2>
      <div class="flex flex-col md:items-center sm:items-center">
        <p class="text-gray-600">Status: {{ character.status }}</p>
        <p class="text-gray-600">Location: {{character.location.name}}</p>
      </div>
      <div class="flex flex-col">
        <p class="text-gray-600">Specie: {{ character.species }}</p>
        <p class="text-gray-600">Gender: {{character.gender}}</p>
      </div>
      <div class="mt-4">
      </div>
    </div>
  </div>
</div>
