<aside class="bg-gray-800 text-white h-screen w-60 fixed top-0 left-0 overflow-y-auto transition-transform duration-300 ease-in-out transform"
      [class.transform-translate-x]="!isSidebarOpen">
      <div class="text-end">
        <button (click)="toggleSidebar()" class="text-gray-500 hover:text-white focus:outline-none focus:text-white">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
  <div class="p-4">
    <h1 class="text-xl font-semibold">Geeks Castle</h1>
  </div>

  <nav class="px-4">
    <ul>
      <li class="mb-2 cursor-pointer">
        <a routerLink="/" routerLinkActive="font-bold" (click)="toggleSidebar()">Inicio</a>
      </li>
      <li class="mb-2 cursor-pointer">
        <a (click)="navigate('personajes')" routerLinkActive="font-bold" >Personajes</a>
      </li>
    </ul>
  </nav>
</aside>
<button [class.transform-translate-x]="isSidebarOpen" (click)="toggleSidebar()" class="text-gray-500 bg-black-500 p-4 hover:text-white focus:outline-none focus:text-white">
  <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
  </svg>
</button>
